@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@300&family=Lato&family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,300;6..12,800&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    display: flex;

    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(2,0,36,1) 39%, rgba(235,65,102,1) 98%);
}


.resim-konteyner {
    display: flex;
    justify-content: center;
}

.cards {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px 10px 45px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    transform: rotateY(0deg);
}

.cards img {
    position: absolute;
    height: 250px;
    transition: transform 0.5s;
}

.arka-taraf {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}

.cards:hover .on-taraf {
    transform: rotateY(-180deg);  
}

.cards:hover .arka-taraf {
    transform: rotateY(-180deg);
}